.cart-minus,
.cart-plus {
    border: none;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    padding-bottom: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    transition: box-shadow 0.2s ease;
}

.cart-minus:hover,
.cart-plus:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
}

input:focus {
    outline: none;
}

.cart-qty-input {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #eee;
    background: #fff;
    font-size: 1.2rem;
    margin: 0 8px;
}