.cart-summary {
    text-align: center;
    width: 100px;
}

.cart-minus,
.cart-plus {
    background: #fff;
    border: none;
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    padding-bottom: 3px;
}

.cart-minus {
    background: #e4fbc9;
}

.cart-plus {
    background: #7cb518;
    color: #fff;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex: 1;
}

.cart-label {
    color: #7cb518;
    font-size: 1rem;
}

.cart-qty {
    font-size: 1.2rem;
    font-weight: bold;
}